@model List<Client.Models.User>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center my-5">Customers</h2>

            <div class="d-flex justify-content-end mb-3">
                @*<a href="@Url.Action("AddCustomer", "Admin")" class="btn btn-primary">Add New Category</a>*@
            </div>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var customer in Model)
                        {
                            <tr>
                                <td>@customer.FirstName @customer.LastName</td>
                                <td>@customer.Email</td>
                                <td>@customer.Phone</td>
                                <td>
                                    <a href="@Url.Action("Customer", "Admin", new { id = customer.Id })" class="btn btn-outline-primary btn-sm mr-1">Details</a>
                                    <a href="@Url.Action("UpdateCustomer", "Admin", new { id = customer.Id })" class="btn btn-outline-warning btn-sm mr-1">Edit</a>
                                    <a href="@Url.Action("DeleteCustomer", "Admin", new { id = customer.Id })" class="btn btn-outline-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

