@model Client.Models.Order

@{
    ViewBag.Title = "EditOrder";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Edit Order - Order #@Model.Id</h2>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Order Date: @Model.OrderDate.ToString("dd MMM yyyy")</h3>
            <br />
            <div class="form-group mb-3">
                <p class="card-text"><strong>Status:</strong></p>

                <form action="" method="post">
                    <select name="Status" class="form-control">
                        <option selected>Select a Category</option>
                        @foreach (var status in ViewBag.Status)
                        {
                            if (status == Model.Status)
                            {
                                <option selected value="@Model.Status">@Model.Status</option>
                            }
                            else
                            {
                                <option value="@status">@status</option>
                            }
                        }
                    </select>
                    <input hidden type="text" name="OrderId" value="@Model.Id" />
                    <small>@Html.ValidationMessage("CategoryId", "", new { @class = "text-danger" })</small>
            </div>

            
            <p class="card-text"><strong>Total Amount:</strong> $@Model.TotalAmount</p>
            <p class="card-text"><strong>Shipping Address:</strong> @Model.ShippingAddress</p>
            <p class="card-text"><strong>Billing Address:</strong> @Model.BillingAddress</p>
        </div>
        <div class="card-body">
            <h4 class="card-title">Ordered Items</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Product Name</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderItems)
                        {
                            <tr>
                                <td>@item.Product.Name</td>
                                <td>$@item.UnitPrice</td>
                                <td>@item.Quantity</td>
                                <td>$@item.TotalPrice</td>
                                <td><a href="@Url.Action("Product", "Admin", new { id = item.Id })" class="btn btn-outline-secondary">View Product</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer text-right">
            <button type="submit" value="Update Order" class="btn btn-success">Update Order</button>
            <a href="@Url.Action("Orders", "Admin")" class="btn btn-secondary">Back to Orders</a>
        </form>
        </div>
    </div>
</div>
