@model List<Client.Models.Product>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center my-5">Products</h2>
<div class="d-flex justify-content-end mb-3">
    <a href="@Url.Action("AddProduct", "Admin")" class="btn btn-primary">Add New Product</a>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                        <th scope="col">Specifications</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@product.Name</td>
                            <td>@product.Category.Name</td>
                            <td>@product.Price.ToString("C")</td>
                            <td>@product.Specification</td>
                            <td>@product.Stock</td>
                            <td>
                                <a href="@Url.Action("Product", "Admin", new { id = product.Id })" class="btn btn-outline-primary btn-sm">Details</a>
                                <a href="@Url.Action("UpdateProduct", "Admin", new { id = product.Id })" class="btn btn-outline-warning btn-sm">Edit</a>
                                <a href="@Url.Action("DeleteProduct", "Admin", new { id = product.Id })" class="btn btn-outline-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
